<section class="products-wrapper">
  <app-categoris class="products-item"></app-categoris>
  <app-filter class="products-item"></app-filter>
  <section *ngIf="dataProducts$ | async; else elseBlock" class="products-item">
    <app-card-product (click)="onOpenProductPage(elem.itemNo)" [data]="elem" *ngFor="let elem of dataProducts$ | async"></app-card-product>
  </section>
  <ng-template #elseBlock>
    <h3 class="products-item">По Вашему запросу ничего не найдено</h3>
  </ng-template>
  <app-paginator *ngIf="dataProducts$" class="products-item"></app-paginator>
</section>
