<!--<div (click)="toggle = !toggle" id="menu-toggle" [ngClass]="{'open' : toggle}">-->
<!--  <div id="hamburger">-->
<!--    <span></span>-->
<!--    <span></span>-->
<!--    <span></span>-->
<!--  </div>-->
<!--  <div id="cross">-->
<!--    <span></span>-->
<!--    <span></span>-->
<!--  </div>-->
<!--</div>-->
<div (click)="toggle = !toggle" id="menu-toggle" [ngClass]="{'active' : toggle}" class="hamburger">
  <span class="bar"></span>
  <span class="bar"></span>
  <span class="bar"></span>
</div>
