<section>
  <h3 class="order-title">Оформление заказа:</h3>
  <div class="order-header">
    <h3>Персональные данные:</h3>
    <h3>Войти в личный кабинет</h3>
  </div>
  <div class="order-form-wrapper">
    <form class="order-form" action="">

      <div class="order-form-container">
        <mat-form-field  class="example-full-width" appearance="outline">
          <mat-label>Ваше имя*</mat-label>
          <input  type="text" matInput placeholder="Ваше имя*">
        </mat-form-field>

        <mat-form-field  class="example-full-width" appearance="outline">
          <mat-label>Ваша фамилия*</mat-label>
          <input  type="text" matInput placeholder="Ваша фамилия*">
        </mat-form-field>
      </div>

      <div class="order-form-container">
        <mat-form-field  class="example-full-width" appearance="outline">
    <mat-label>Ваш e-mail*</mat-label>
    <input  type="email" matInput placeholder="Ваш e-mail*">
  </mat-form-field>

        <mat-form-field  class="example-full-width" appearance="outline">
    <mat-label>Ваш телефон*</mat-label>
    <input  type="number" matInput placeholder="Ваш телефон*">
  </mat-form-field>
      </div>

      <h3 class="order-description">Адрес доставки:</h3>

      <div class="order-form-container">
        <mat-form-field  class="example-full-width" appearance="outline">
          <mat-label>Город*</mat-label>
          <input  type="text" matInput placeholder="Город*">
        </mat-form-field>

        <mat-form-field  class="example-full-width" appearance="outline">
          <mat-label>Отделение почты**</mat-label>
          <input  type="text" matInput placeholder="Отделение почты*">
        </mat-form-field>
      </div>

      <h3 class="order-description">Вы можете оплатить покупку одним из ниже перечисленных способов:</h3>

      <mat-radio-group aria-label="Select an option">
          <mat-radio-button value="1">Денежным переводом  Visa/MasterCard</mat-radio-button>
          <mat-radio-button value="2">Наличные</mat-radio-button>
        </mat-radio-group>


    </form>
    <section class="order-right-item">
      <p>УСЛОВИЯ ДОСТАВКИ</p>
      <p>УСЛОВИЯ ОБМЕНА И ВОЗВРАТА</p>
      <p>ИНФОРМАЦИЯ ОБ ОПЛАТЕ</p>

      <div>
        <p>Итого:</p>
        <p>price</p>
      </div>

      <button class="button-submit">ОФОРМИТЬ ЗАКАЗ</button>

    </section>
  </div>
</section>
