<section>
  <h3 class="order-title">Оформление заказа:</h3>
  <div class="order-header">
    <h3>Персональные данные:</h3>
    <h3>Войти в личный кабинет</h3>
  </div>
  <div class="order-form-wrapper">
    <form [formGroup]="orderForm" class="order-form" action="">

      <div class="order-form-container">
        <mat-form-field  class="example-full-width" appearance="outline">
          <mat-label>Ваше имя*</mat-label>
          <input  type="text" matInput placeholder="Ваше имя*">
        </mat-form-field>

        <mat-form-field  class="example-full-width" appearance="outline">
          <mat-label>Ваша фамилия*</mat-label>
          <input  type="text" matInput placeholder="Ваша фамилия*">
        </mat-form-field>
      </div>

      <div class="order-form-container">
        <mat-form-field  class="example-full-width" appearance="outline">
          <mat-label>Ваш e-mail*</mat-label>
          <input formControlName="email"  type="email" matInput placeholder="Ваш e-mail*">
        </mat-form-field>

        <mat-form-field  class="example-full-width" appearance="outline">
          <mat-label>Ваш телефон*</mat-label>
          <input formControlName="mobile" type="number" matInput placeholder="Ваш телефон*">
        </mat-form-field>
      </div>

      <h3 class="order-description">Адрес доставки:</h3>

      <div class="order-form-container">
        <mat-form-field  class="example-full-width" appearance="outline">
          <mat-label>Город*</mat-label>
          <input formControlName="city" type="text" matInput placeholder="Город*">
        </mat-form-field>

        <mat-form-field  class="example-full-width" appearance="outline">
          <mat-label>Адрес</mat-label>
          <input formControlName="address" type="text" matInput placeholder="Адрес*">
        </mat-form-field>

      </div>

      <div class="order-form-container">
        <mat-form-field class="filter-desktop"  appearance="outline">
          <mat-label>Страна</mat-label>
          <mat-select formControlName="country">
            <mat-option value="Украина">Украина родная</mat-option>
            <mat-option value="Польша">Польша</mat-option>
            <mat-option value="Германия">Германия</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field  class="example-full-width" appearance="outline">
          <mat-label>Отделение почты*</mat-label>
          <input formControlName="postal" type="text" matInput placeholder="Отделение почты*">
        </mat-form-field>
      </div>

      <h3 class="order-description">Вы можете оплатить покупку одним из ниже перечисленных способов:</h3>

        <mat-radio-group formControlName="paymentInfo" aria-label="Select an option">
          <mat-radio-button value="Credit card">Денежным переводом  Visa/MasterCard</mat-radio-button>
          <mat-radio-button value="Cash">Наличные</mat-radio-button>
        </mat-radio-group>


    </form>
    <section class="order-right-item">
      <p>УСЛОВИЯ ДОСТАВКИ</p>
      <p>УСЛОВИЯ ОБМЕНА И ВОЗВРАТА</p>
      <p>ИНФОРМАЦИЯ ОБ ОПЛАТЕ</p>

      <div>
        <p>Итого:</p>
        <p>price</p>
      </div>
{{orderForm.invalid | json}}
      <button
        (click)="onSubmitOrder()"
        class="button-submit"
        [ngClass]="{'button-submit-valid': !orderForm.invalid, 'button-submit-disabled': orderForm.invalid}"
        [disabled]="orderForm.invalid"
      >ОФОРМИТЬ ЗАКАЗ</button>

    </section>
  </div>
</section>
