<div class="wrapper-product-line">
  <div class="product-line-tem">
    <img class="img-product" [src]="productData?.product?.imageUrls[0]" alt="">
    <div class="art-name">
      <p>art: {{productData?.product?.itemNo}}</p>
      <p>{{productData?.product?.name}}</p>
    </div>
  </div>

  <div class="product-line-tem">
    color
  </div>

  <mat-form-field  class="product-line-tem" appearance="outline">
<!--    <mat-label>{{size}}</mat-label>-->
    <mat-select>
      <mat-option  *ngFor="let size of sizes" [value]="size" >{{size}}</mat-option>
    </mat-select>
  </mat-form-field>

  <div class="product-line-tem">
    <span (click)="onDecreaseProductQuantity(productData?.product._id)" >-</span>
    <div>{{productData?.cartQuantity}}</div>
    <span (click)="onAddProductQuantity(productData?.product._id)">+</span>
  </div>

  <div class="product-line-tem">{{productData?.product?.currentPrice}} грн.</div>

  <div (click)="onDeletedProductFromCart(productData?.product._id)" class="product-line-tem">deleted</div>
</div>
