@import "src/app/app.component";
.wrapper-product-line{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 0;
  border-bottom: 1px solid black;
  & mat-form-field{
    width: 100px;
    & .mat-form-field-wrapper{
      padding-bottom: 0;
    }
  }
  & .product-line-tem:nth-child(1){
    display: flex;
    width: 400px;
  }
  & .product-line-tem:nth-child(4){
    display: flex;
    padding: 16px 15px;
    border: 1px solid black;
    border-radius: 7px;
    align-items: center;
    justify-content: center;
    & div{
      @include basic-font-style;
      margin: 0 20px;
    }
    & span{
      @include basic-font-style;
      cursor: pointer;
      font-weight: bold;
      color: $basicColor2;
    }
  }
  & .product-line-tem:nth-child(5){
    @include basic-font-style;
  }
}
.img-product{
  width: 95px;
  height: 110px;
}
.art-name{
  display: flex;
  flex-direction: column;
  margin: 0 0 0 10px;
  & p:nth-child(1){
    @include basic-font-style;
    color: $basicColor2;
  }
  & p:nth-child(2){
    @include basic-font-style;
  }
}
