<section class="filter-wrapper">
  <mat-accordion class="filter-elem filter-mobile" >
    <mat-expansion-panel  (opened)="panelOpenState = true" (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>Фильтры</mat-panel-title>
      </mat-expansion-panel-header>
      <section >
        <form [formGroup]="formFilter" action="">
          <mat-form-field  *ngFor="let filter of dataFilter" appearance="outline">
            <mat-label>{{filter.nameFilter}}</mat-label>
            <mat-select formControlName="{{filter.params}}" [disabled]="filter.params === 'size' || filter.params === 'price'" (selectionChange)="onChangeFilter($event, filter.params)">
              <mat-option *ngFor="let item of filter.filterData" [value]="item" >{{item}}</mat-option>
            </mat-select>
          </mat-form-field>
        </form>
        <span (click)="onClearFilter()"  class="clear-filter mobile-icon-clear">
      clear filter
    </span>
      </section>
    </mat-expansion-panel>
  </mat-accordion>
  <form [formGroup]="formFilter" action="">
    <section class="filter-desktop">
      <mat-form-field class="filter-desktop" *ngFor="let filter of dataFilter" appearance="outline">
        <mat-label>{{filter.nameFilter}}</mat-label>
        <mat-select  formControlName="{{filter.params}}" [disabled]="filter.params === 'size' || filter.params === 'price'" (selectionChange)="onChangeFilter($event, filter.params)">
          <mat-option *ngFor="let item of filter.filterData" [value]="item" >{{item}}</mat-option>
        </mat-select>
      </mat-form-field>
      <span (click)="onClearFilter()"  class="clear-filter desktop-icon-clear">
      clear filter
    </span>
    </section>
  </form>

</section>
