@import "src/app/app.component";
@media (max-width: 500px) {
  .filter-wrapper{
    margin: 0 0 15px 0;
  }
}
.filter-desktop{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 30px;
  @media (max-width: 500px) {
    .filter-desktop{
      display: none;
    }
  }
}
.filter-mobile{
  display: none;
  @media (max-width: 500px) {
    display: block;
    .mat-expansion-panel-body{
      padding: 0;
    }
  }
}
//mat-panel-title{
//  font-size: $fontSizeBasic;
//}
//.mat-form-field-appearance-fill .mat-form-field-flex{
//  background-color: revert;
//}
//.mat-form-field-infix{
//  border-top: revert;
//}
//.mat-focused{
//  color: red;
//}
//.mat-form-field-appearance-fill .mat-form-field-underline::before{
//  color: $basicColor2;
//}
//mat-form-field{
//  width: 50%;
//}
//.filter-mobile{
//  display: none;
//}
//@media (max-width: 930px) {
//  mat-form-field:nth-child(1){
//    justify-self: end;
//  }
//  mat-form-field:nth-child(2){
//    justify-self: center;
//  }
//  mat-form-field:nth-child(3){
//    justify-self: start;
//
//  }
//}
//@media (max-width: 930px) {
//  .filter-mobile{
//    display: block;
//  }
//  .filter-desktop{
//    display: none;
//  }
//  #cdk-accordion-child-4{
//    justify-content: revert;
//  }
//  #cdk-accordion-child-6{
//    justify-content: revert;
//  }
//  .mat-expansion-panel-body{
//    display: flex;
//    flex-direction: column;
//    padding: 0;
//  }
//  mat-form-field{
//    width: 100%;
//  }
//}
